{% extends "base.html" %}

{% block title %}
Login
{% endblock %}


{% block content %}

<div class="auth-card">

    <h1>Welcome Back</h1>

    <p class="subtitle">
        Login to your AI Video Intelligence System
    </p>


    <form method="POST" action="{{ url_for('login') }}">

        <label>Email</label>

        <input type="email" name="email" placeholder="Enter your email" required>


        <label>Password</label>

        <input type="password" name="password" placeholder="Enter password" required>


        <button type="submit" class="primary-btn">
            Login
        </button>

    </form>


    <p class="auth-link">

        Don't have an account?

        <a href="{{ url_for('register') }}">
            Create Account
        </a>

    </p>

</div>

{% endblock %}